@import '~@angular/material/theming';

.price-container {
    text-align: center;
}

.price {
    font-size: 5em;

    &.trend-up {
        color: map-get($mat-green, 400);
    }

    &.trend-down {
        color: map-get($mat-red, 400);
    }
}

mat-spinner {
    margin: 0 auto;
    width: 100%;
}
