:host {
    display: block;
    height: 100%;
    width: 100%;
}

.tile-header,
.tile-content {
    padding: 15px;
}

.tile-header {

}

.tile-heading {
    font-size: 18px;
    text-align: center;
}


